<footer class="center">
  <div class="measure">
    <small>
      <span><a href="{{ site.url }}">Home</a></span> &nbsp;&nbsp; 				
				<span><a href="{{ site.url }}/about/">About Us</a></span> &nbsp;&nbsp;
				<span><a href="https://blog.tryswift.co/">Blog</a></span> &nbsp;&nbsp;
	    			<span><a href="https://tryswift.co/contact">Contact</a></span> &nbsp;&nbsp;

				<span><a href="https://www.flickr.com/photos/tryswift/albums" target="_blank">Photos</a></span> &nbsp;&nbsp;
				<span><a href="https://github.com/tryswift/" target="_blank">GitHub</a></span> &nbsp;&nbsp;
				<span><a href="https://news.realm.io/news/try-swift/" target="_blank">Videos & Presentations</a></span> &nbsp;&nbsp;

				</br> {{ site.title | escape }} © 2017  - {{ site.data.global.footer[page.lang] }}<a href="https://www.natashatherobot.com/" target="_blank">NatashaTheRobot, LLC</a></span>
    </small>
  </div>
</footer>
{% if site.enable_anchorjs %}<!-- AnchorJS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.0.0/anchor.min.js"></script>
<script>
    anchors.options.visible = 'always';
    anchors.add('article h2, article h3, article h4, article h5, article h6');
</script>{% endif %}
